<div class="title">
  <h1><%= image_tag("homie.png") %></h1>
</div>

<div class="message" v-for="message in messages" v-bind:class="{ bot: message.bot_flg }">
  <div class="message-icon"><%= image_tag("woman.png") %></div>
  <div class="message-body">
    <div class="message-body-text">Hey! Where is going?</div>
  </div>
</div>

<div class="searchbox">
  <%= form_tag(routes_create_path, method: :post, class: 'searchbox-form') do |f| %>
    <input type="text" name="destination" id="destination" class="searchbox-form-input" placeholder="Search...">
  <% end %>
</div>
