*, *::after, *::before {
  box-sizing: border-box;
}

::-moz-focus-inner {
  padding: 0;
  border: 0;
}

:focus {
  outline: 0;
}

h1, h2, h3, h4, p,
blockquote, figure, ol, ul, dl, dt, dd {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  font-size: inherit;
}

main, li {
  display: block;
}

small {
  font-size: inherit;
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
}

html {
  height: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-size: 16px;
  font-family: sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

a, button {
  transition: all .2s ease-in-out;
}

a {
  outline: none;
  text-decoration: none;
}

#google_map {
  width: 100%;
  height: 100%;
}

.app {
  height: 100%;
  padding: 44px 0 0;
  overflow: hidden;
}

.header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  padding: 7px 0;
  width: 100%;
  height: 44px;
  line-height: 30px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  border-bottom: solid 1px #ccc;
}

.navigation {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
}

.map {
  height: 100%;
  position: relative;
}

.chatbox {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 20px 0 0;
  z-index: 200;
  width: 100%;
  height: 0px;
  background: #f0f0f0;
  overflow-x: hidden;
  overflow-y: scroll;
  transition: all 0.3s;

  &.open {
    height: 300px;

    .chatbox-handle {
      .fa {
        transform: rotate(180deg);
      }
    }
  }

  &-handle {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 30;
    width: 100%;
    height: 20px;
    text-align: center;
    background: #f0f0f0;

    &:hover, &:active {
      background: #ccc;
    }

    .fa {
      display: inline-block;
      position: relative;
      margin: 0 auto;
      line-height: 20px;
      font-size: 14px;
      text-align: center;
      transition: all .3s ease-in-out;
    }
  }

  &-stream {
    position: relative;
    z-index: 10;
    padding: 10px 0 54px;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  &-input {
    position: absolute;
    z-index: 20;
    bottom: 0;
    left: 0;
    padding: 0 5px 0 40px;
    width: 100%;
    height: 44px;
    border-top: solid 1px #ccc;
    overflow: hidden;

    &-file {
      display: block;
      position: absolute;
      overflow: hidden;
      top: 5px;
      left: 7px;
      padding: 30px 0 0;
      width: 30px;
      height: 0;

      .fa {
        position: absolute;
        top: 0;
        left: 0;
        width: 30px;
        line-height: 30px;
        color: #444;
        font-size: 24px;
      }

      input[type='file'] {
        height: 0;
      }
    }

    &-text {
      padding: 5px 80px 5px 0;

      input[type='text'] {
        padding: 5px;
        border: solid 1px #ccc;
        border-radius: 4px;
        width: 100%;
        height: 30px;
        font-size: 16px;
      }

      button[type='submit'] {
        position: absolute;
        top: 5px;
        right: 7px;
        padding: 3px 7px;
        border: 0 none;
        border-radius: 5px;
        width: 70px;
        line-height: 24px;
        color: #fff;
        background: #444;
      }
    }
  }
}

.message {
  position: relative;
  clear: both;
  margin: 0 0 20px;

  &.bot {
    float: left;
    margin-left: 10px;
  }

  &.me {
    float: right;
    margin-right: 10px;
  }

  .message-body {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 20px;
    background: #fff;
    font-size: 14px;
  }
}
