.routes_search {
  .searchbox {
    margin: 40px 0 0;
    text-align: center;

    &-text {
      margin: 0 0 20px;
    }

    &-form {
      display: inline-block;
    }
  }
}

.routes_map {
  .navigation {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;
  }

  .map {
    height: 100%;
    position: relative;
  }

  .chatbox {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 20px 0 0;
    z-index: 200;
    width: 100%;
    height: 0px;
    background: #f0f0f0;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: all 0.3s;

    &.open {
      height: 300px;

      .chatbox-handle {
        .fa {
          transform: rotate(180deg);
        }
      }
    }

    &-handle {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 30;
      width: 100%;
      height: 20px;
      text-align: center;
      background: #f0f0f0;

      &:hover, &:active {
        background: #ccc;
      }

      .fa {
        display: inline-block;
        position: relative;
        margin: 0 auto;
        line-height: 20px;
        font-size: 14px;
        text-align: center;
        transition: all .3s ease-in-out;
      }
    }

    &-stream {
      position: relative;
      z-index: 10;
      padding: 10px 0 54px;
      width: 100%;
      height: 100%;
      overflow-x: hidden;
      overflow-y: scroll;
    }

    &-input {
      position: absolute;
      z-index: 20;
      bottom: 0;
      left: 0;
      padding: 0 5px 0 40px;
      width: 100%;
      height: 44px;
      border-top: solid 1px #ccc;
      background: #f0f0f0;
      overflow: hidden;

      &-file {
        display: block;
        position: absolute;
        overflow: hidden;
        top: 5px;
        left: 7px;
        padding: 30px 0 0;
        width: 30px;
        height: 0;

        .fa {
          position: absolute;
          top: 0;
          left: 0;
          width: 30px;
          line-height: 30px;
          color: #444;
          font-size: 24px;
        }

        input[type='file'] {
          height: 0;
        }
      }

      &-text {
        padding: 5px 80px 5px 0;

        input[type='text'] {
          width: 100%;
        }

        button {
          position: absolute;
          top: 5px;
          right: 7px;
        }
      }
    }
  }

  .message {
    position: relative;
    clear: both;
    margin: 0 0 20px;
    width: 70%;
    float: right;
    margin-right: 10px;
    text-align: right;

    &.bot {
      float: left;
      margin-right: 0;
      margin-left: 10px;
      text-align: left;
    }

    .message-body {
      display: inline-block;
      padding: 10px 15px;
      border-radius: 20px;
      background: #fff;
      font-size: 14px;
    }
  }
}
