.routes_search {
  height: 100%;
  background: image-url('bg.png');
  background-size: cover;
  text-align: center;

  .title {
    margin: 10% 0 40px;
    text-align: center;

    h1 {
      display: inline-block;
    }

    img {
      width: auto;
      height: 40px;
    }
  }

  .message {
    position: relative;
    margin: 0 auto;
    padding-left: 65px;
    text-align: left;
    float: none;

    &-icon {
      position: absolute;
      top: 0;
      left: 0;
      width: 50px;
      height: 50px;
      border-radius: 6px;
      box-shadow: rgba(0,0,0,0.2) 0px 2px 1px 0px;

      img {
        width: 50px;
        height: 50px;
      }
    }

    &-body {
      position: relative;
      z-index: 0;
      display: inline-block;
      padding: 16px;
      border-radius: 6px;
      min-width: 80%;
      color: #fff;
      background: #e50000;
      font-size: 16px;
      box-shadow: rgba(0,0,0,0.2) 0px 2px 1px 0px;

      &::before {
      	content: "";
      	position: absolute;
      	top: 50%; left: -8px;
      	margin-top: -9px;
      	display: block;
      	width: 0px;
      	height: 0px;
      	border-style: solid;
      	border-width: 9px 9px 9px 0;
      	border-color: transparent #e50000 transparent transparent;
      	z-index: 0;
      }
    }
  }

  .searchbox {
    margin: 40px auto 0;
    padding: 15px;
    width: 90%;
    background: #fff;

    &-form-input {
      width: 100%;
    }
  }
}

.routes_map {
  .navigation {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;
  }

  .map {
    height: 100%;
    position: relative;
  }

  .chatbox {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0 0 0;
    z-index: 200;
    width: 100%;
    height: 0px;
    background: image-url('bg.png');
    background-size: cover;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: all 0.3s;
    box-shadow: rgba(0, 0, 0, 0.4) -1px 0px 20px 5px;

    &.open {
      height: 300px;

      .chatbox-handle {
        .fa {
          transform: rotate(180deg);
        }
      }
    }

    &-handle {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 30;
      width: 100%;
      height: 20px;
      text-align: center;
      background: #f0f0f0;

      &:hover, &:active {
        background: #ccc;
      }

      .fa {
        display: inline-block;
        position: relative;
        margin: 0 auto;
        line-height: 20px;
        font-size: 14px;
        text-align: center;
        transition: all .3s ease-in-out;
      }
    }

    &-stream {
      position: relative;
      z-index: 10;
      padding: 0 0 44px;
      width: 100%;
      height: 100%;
      overflow-x: hidden;
      overflow-y: scroll;
    }

    &-input {
      position: absolute;
      z-index: 20;
      bottom: 0;
      left: 0;
      padding: 0 50px 0 5px;
      width: 100%;
      height: 44px;
      border-top: solid 1px rgba(255,255,255,0.1);
      background: rgba(255,255,255,0.8);
      overflow: hidden;

      &-file {
        display: block;
        position: absolute;
        overflow: hidden;
        top: 0;
        right: 0;
        padding: 44px 0 0;
        width: 50px;
        height: 0;

        .fa {
          position: absolute;
          top: 5px;
          left: 7px;
          width: 30px;
          line-height: 30px;
          color: #444;
          font-size: 24px;
        }

        input[type='file'] {
          height: 0;
        }
      }

      &-text {
        padding: 7px 0;

        input[type='text'] {
          width: 100%;
        }

        button {
          position: absolute;
          top: 5px;
          right: 7px;
        }
      }
    }
  }
}

.message {
  position: relative;
  margin: 5px 13px 8px 0;
  padding-left: 65px;
  text-align: right;
  float: right;
  width: 80%;

  &.bot {
    margin: 5px 0 8px 13px;
    float: left;
    text-align: left;

    .message-body {
      color: #fff;
      background: #e50000;

      &::before {
        content: "";
        position: absolute;
        top: 20px; left: -8px;
        margin-top: -9px;
        display: block;
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 9px 9px 9px 0;
        border-color: transparent #e50000 transparent transparent;
        z-index: 0;
      }
    }
  }

  &-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    border-radius: 6px;
    box-shadow: rgba(0,0,0,0.2) 0px 2px 1px 0px;

    img {
      width: 50px;
      height: 50px;
    }
  }

  &-body {
    position: relative;
    z-index: 0;
    display: inline-block;
    border-radius: 6px;
    min-width: 80%;
    color: #000;
    background: #fff;
    font-size: 16px;
    text-align: left;
    box-shadow: rgba(0,0,0,0.2) 0px 2px 1px 0px;

    &-text {
      padding: 16px;
    }

    &-image {
      border-radius: 6px;
      overflow: hidden;

      img {
        vertical-align: bottom;
      }
    }
  }
}
